<h1 align="center">ARTICLE LIST</h1>

<div class="pagination">
  <%= will_paginate @article %>
</div>

<%= render 'article', obj: @article %>

<div class="pagination">
  <%= will_paginate @article %>
</div>

<div class="center">
  <%= link_to 'Go Home', root_path, class:"btn btn-info btn-lg" %>
</div>
