
<head>
  <meta charset="utf-8">
  <meta name="author" content="Alejandro Codeseira">
  <meta name="description" content="Web test for Bio and Dojo data.">
</head>

<body>

  <h1 class="center">HOME PAGE</h1>

  <div class="center jumbotron" id="jumbotron_home">
    <h1 class="display-4">ALPHA BLOG</h1>
    <p class="lead"></p>
    <%= link_to 'Sign up now!', signup_path , class: 'btn btn-warning btn-lg' %>
  </div>

</body>
