<h1 align="center">LISTING ALL CATEGORIES</h1>
<br>

<div class="row ml-5">
  <% @category.each do |category| %>
    <div class="col-4 list-group center">
      <%= link_to "#{category.name}", category_path(category), class:"h5 list-group-item list-group-item-action list-group-item-secondary" %>
    </div>
    <% if logged_in? and current_user.admin? %>
    <div class="col-2 align-self-center list-group center align-items-start">
      <p><%= link_to "Edit", edit_category_path(category), class:"badge badge-info" %></p>
    </div>
    <% end %>
  <% end %>
</div>

<div class="pagination">
  <%= will_paginate @category %>
</div>
