<h1 align="center">LISTING ALL CATEGORIES</h1>
<br>

<div class="row row-cols-2 w-50 offset-3">
  <% @category.each_with_index do |category, index| %>
  <% if index % 2 == 0 %>
  <div class="col">
    <div class="list-group center">
      <%= link_to "#{category.name}", category_path(category), class:"h5 list-group-item list-group-item-action list-group-item-secondary" %>      
    </div>
  </div>
  <% else %>
  <div class="col">
    <div class="list-group center">
      <%= link_to "#{category.name}", category_path(category), class:"h5 list-group-item list-group-item-action list-group-item-secondary" %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<%= will_paginate @category %>
