<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= link_to 'Alpha Blog', root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Articles", articles_path, class:"nav-item nav-link active", id:"articles-nav" %>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "New Article", new_article_path, class:"dropdown-item" %>
        </div>
      </div>
      <%= link_to "About", pages_about_path, class:"nav-item nav-link" %>
    </div>
  </div>
</nav>
